/* Mobile & tablet */
@media (max-width:1023px){
    .hide-on-mobile-tablet {
        display: none;
    }

    .header{
        height:auto;
        position: fixed;
        /* padding-top: 60px; */
    }

    .header__input-menu{
        display: none;
    }

    .icon-shopping-cart-menu {
        position: fixed;
        top: 68px;
        right: 0;
        background-color: var(--white-color);
        border: 1px solid #d3d3d3;
        height: auto;
        display: none;
        color: black;
        cursor: default;
        z-index:2;
    }

    .header__sort-bar{
        display: flex;
        top: 52px;
    }

    .container{
        padding-top: 80px;
    }

    .icon-shopping-cart-menu img {
        height: 50px;
        width: 50px;
    }

    .icon-shopping-cart:hover .icon-shopping-cart-menu{
        background-color: white;
    }
}


/* tablet */
@media (min-width:740px) and (max-width:1023px){
    .hide-on-tablet{
        display: none;
    }

    .mobile-category{
        display: block;
    }

    .header__navbar--icon {
        font-size: 25px;
        padding: 20px 0 20px 30px;
        margin-right: 50px;
    }

    input.input-content {
        /* margin-left: 50px; */
    }

    .header__mobile-search {
        margin-left: 32px;
    }
    
    
}


/* mobile */
@media (max-width:739px){
    .hide-on-mobile{
        display: none;  
    }

    .mobile-category{
        display: block;
    }

    .header__input{
        /* display: none; */
        position: fixed;
        top: 62px;
        right: 0;
        left: 0;
        box-shadow: 0 1 2px rgba(0,0,0,0.05);
        z-index: 1;
        animation: mobileSearchSideIn linear 0.5s;
        display: none;
    }

    .header__search-checkbox:checked ~ .header__input{
        display: flex;
    }

    .input-content{
        /* display: none; */
    }

    .input-search-icon{
        /* display: none; */
    }

    .header__navbar--container{
        justify-content: space-between;
        height: 68px;
    }

    .header__navbar--icon{
        padding: 0;
    }

    .img.header__logo--shopee{
        width: unset;
        display: block;
    }

    .header__navbar--icon{
        margin-right: 0;
        padding: 0 12px;
    }

    .header__mobile-search-icon{
        padding: 0 12px;
    }

    .app__content{
        margin: 0 5px;
    }

}


@keyframes mobileSearchSideIn {
    from{
        top: 34px;
    }to{
        top: 62px;
    }

}